<div class="wrapper">
  <app-header></app-header>
  <div class="py-2 px-4 page-body">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>

<p-confirmDialog #confirmDeleteAlert key="confirmDeleteAlert">
  <p-footer>
    <button type="button" pButton (click)="confirmDeleteAlert.reject()" label="Отмена"
            class="p-button-sm p-button-outlined"></button>
    <button type="button" pButton (click)="confirmDeleteAlert.accept()" label="Удалить"
            class="p-button-sm p-button-danger"></button>
  </p-footer>
</p-confirmDialog>

<p-toast></p-toast>
